{% extends '013-layout.html' %}
{% block title %} Index Page {% endblock %}
{% block content %}
    <h2>{{ title }}</h2>
    <!-- Menu -->
    
    <table border="1" style="width: 600px; border-collapse: collapse;">
        <thead>
            <tr>
                <th>NIM</th>
                <th>Nama</th>
                <th>Alamat</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr>
                <td>{{ d.nim }}</td>
                <td>{{ d.nama }}</td>
                <td>{{ d.alamat }}</td>
                <td>
                    <a href="/update/{{ d.nim }}">Ubah</a> || 
                    <a href="/delete/{{ d.nim }}" onclick="return confirm('YAKIN')">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/insert">Tambah Data</a>
    
{% endblock %}