<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Basic, Engine EJS</title>
</head>
<body>
    
    <p>Nama Saya: Wilden</p>
    <p>Umur Saya: 20</p>

</body>
</html>