<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Basic, Engine EJS</title>
</head>
<body>
    
    <p>Nama Saya: <%= name %></p>
    <p>Umur Saya: <%= umur %></p>

    <% for(let i = 0; i < buah.length; i++) { %>
        <p><%= buah[i].name %></p>
    <% } %>

</body>
</html>